<html>
<head>

    <title>{{ host }} &mdash; Controls</title>

    <meta name="viewport" content="initial-scale=1.0,
       width=device-width" />

    <!--<meta name="apple-mobile-web-app-capable" content="yes" />-->

    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='icon-retina.png')}}"/>

    <link 
    href="{{url_for('static', filename='reset.css')}}" 
    media="screen" 
    rel="stylesheet" 
    type="text/css"></link>

    <link 
    href="{{url_for('static', filename='text.css')}}" 
    media="screen" 
    rel="stylesheet" 
    type="text/css"></link>

    <link 
    href="{{url_for('static', filename='960_12_col.css')}}" 
    media="screen" 
    rel="stylesheet" 
    type="text/css"></link>

    <link 
    href="{{url_for('static', filename='grid.css')}}" 
    media="screen" 
    rel="stylesheet" 
    type="text/css"></link>

    <link 
    href="{{url_for('static', filename='style.css')}}" 
    media="screen" 
    rel="stylesheet" 
    type="text/css"></link>

</head>

<body class="container_12">

<h1 class="grid_12">{{ host }}</h1>

<div class="clear"></div>

{% if status %}
<script type="text/javascript">
    var m = function() {
        document.getElementById('messages').style.display='none';
    };

    setTimeout(m,5000);

</script>
<div class="grid_12" id="messages">
    <div class="status-message button green">{{ status }}</div>
</div>
{% endif %}

<div class="clear"></div>

<div class="buttons grid_12">


<!-- dynamic extensions -->

{% for extension in extensions %}

<div class="button-group">

<h2 class="grid_12">{{ extension['title'] }}</h2>

    {% for button in extension['buttons'] %}
    <div class="grid_6"><a class="button orange" href="{{ button[1] }}">{{ button[0] }}</a></div>
    {% endfor %}


</div>

{% endfor %}


</div>


<hr/>

<!-- This is hardcoded to a function which might not be here? -->
<div class="grid_12">
<form method="GET" action="/open_url" class="open-url">
    <input type="text" name="url" id="open-url-field"/>
    <input type="submit" value="Open in Safari" id="open-url-submit"/>
</form>
</div>

<div class="clear"></div>

<hr/>

<!-- This is hardcoded to a function which might not be here? -->
<div class="grid_6">

    <h2>Bookmarklets</h2>

    <p>Drag these to your bookmarks bar.</p>

    <ul>
        <li>
        <a  class="button white"
            href='javascript:q=location.href;document.location="http://{{ host }}:{{ port }}/open_url?url="+q;'
            >Open on TV</a> &mdash; open current URL on TV.
        </li>
    </ul>

</div>

<div class="grid_6">

    <h2>Debug</h2>

    <ul>
        <li>Screen res: x = {{ screen[0] }}, y = {{ screen[1] }}</li>
    </ul>
</div>

<div class="clear"></div>

<div style="height: 50px;">&nbsp;</div>

<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>


</body>
</html>

