<!DOCTYPE html> 
<html> 
    <head> 
        <title>TV Controls</title> 
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icon-retina.png')}}"/>

        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <script src="{{url_for('static', filename='jqm.js')}}"></script> 

        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    </head> 
    <body> 

        <!-- Index page -->
        <div data-role="page">

            <div data-role="header">
                <h1>{{ host }}</h1>
                <a href="/sleep" data-role="button" class="ui-btn-right">Sleep</a>
            </div><!-- /header -->


            <div data-role="content">	
                <ul data-role="listview" data-inset="true">
                    {% for extension in extensions %}
                    <li><a href="#{{ extension['id'] }}">{{ extension['title'] }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /content -->

        </div><!-- /page -->

        <!-- Index page -->
        {% for extension in extensions %}
        <div data-role="page" id="{{ extension['id'] }}" class="page">

            <div data-role="header">
                <a href="/" data-role="button" data-icon="arrow-l" data-direction="reverse">Home</a>
                <h1>{{ extension['title'] }}</h1>
                <a href="/sleep" data-role="button" class="ui-btn-right">Sleep</a>
            </div><!-- /header -->

            <div data-role="content">	
                {% for button in extension['buttons'] %}
                <a data-role="button" class="bg-ajax" data-goto="{{ button[1] }}">{{ button[0] }}</a>
                {% endfor %}

                <div class="ui-body-e ui-bar messages" style="display: none">
                    <div>Nothing to do.</div>
                </div>
            </div><!-- /content -->

        </div><!-- /page -->
        {% endfor %}

    </body>
</html>
